<div class="platforms-container">
  <h1 class="platform-title">Choose your platforms</h1>


<% @platforms.each do |platform| %>
  <%= simple_form_for @favourite_platform do |f| %>
      <%= f.hidden :name, value: platform.name do %>
      <%= f.hidden :user_id, value: @user.id do %>
        <img class="platform-bordered mb-1" src="<%= cl_image_path platform.photo.key %>" />
      <% end %>
    <% end %>
    <%= f.button :submit %>
<% end %>





    <div class="platforms">
      <%# <div>
        <img class="platform-bordered mb-1" src="https://res.cloudinary.com/dllghzftv/image/upload/v1670410458/netflix-logo_xibfku.png" />
      </div>
      <div>
        <img class="platform-bordered mb-1" src="https://res.cloudinary.com/dllghzftv/image/upload/v1670410902/RFeVpNYj_400x400_jen7b1.jpg" />
      </div>
      <div>
        <img class="platform-bordered mb-1" src="https://res.cloudinary.com/dllghzftv/image/upload/v1670410955/f2d3dbee26e933ee8a40c6d3d01cb2d9_hgudl5.jpg" />
      </div>
      <div>
        <img class="platform-bordered mb-1" src="https://res.cloudinary.com/dllghzftv/image/upload/v1670410978/zovfDsfyegE7SF3hCrN_hWPiQ2VLSh_Hreg20YsgQD5d9rfeq_HLA1fdq3q9zn-QNg_f9vlte.png" />
      </div>
      <div>
        <img class="platform-bordered mb-1" src="https://res.cloudinary.com/dllghzftv/image/upload/v1670411007/NOW_Logo_Broadband_and_TV_2021_nn6mgl.jpg" />
      </div>
      <div>
        <img class="platform-bordered mb-1" src="https://res.cloudinary.com/dllghzftv/image/upload/v1670411033/1024px-Channel_4_logo_1999.svg_sqikdd.png" />
      </div>
      <div>
        <img class="platform-bordered mb-1" src="https://res.cloudinary.com/dllghzftv/image/upload/v1670411071/BBC-iPlayer-Logo_nzoaxi.png" />
      </div>
      <div>
        <img class="platform-bordered mb-1" src="https://res.cloudinary.com/dllghzftv/image/upload/v1670411103/britbox_black_tvfpte.png" />
      </div>
    </div> %>
    <div>
      <a class="btn btn-ghost" href="#">Save</a>
      <a class="btn btn-ghost" href="#">Edit</a>
    </div>
</div>
