<div>
  <%= form_with url: movies_path, method: :get, class: "input-search search-box" do %>
  <button class="btn-search"><i class="fas fa-search"></i></button>
    <%= text_field_tag :query,
      params[:query],
      class: "input-search",
      placeholder: "Find a movie" %>
  <% end %>
</div>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-right: 20px; margin-left: 20px; height: 200px; border-radius: 6%;">
    <div class="carousel-inner" style="border-radius: 2%; margin-top: 20px;">
      <div class="carousel-item active">
        <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/gotg_holiday_dd2c.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/mkVpQyiQOVU/maxresdefault.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://s2.dmcdn.net/v/T4lcH1Y03jfbN2f01/x1080" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="app" style="margin-bottom: 75px; margin-top: 19px;">
      <% if @movies.find { |movie| movie.platform == "Netflix"} %>
        <h3>Netflix </h3>
      <div class="scrolling-wrapper">
          <% @movies.each do |movie| %>
              <% if movie.platform == "Netflix" %>
                    <a href='<%= movie_path(movie)%>' class="movie-card">
                      <img src="<%= movie.image_url %>" alt="img">
                    </a>
              <% end %>
            <% end %>
      </div>
      <% end %>

      <% if @movies.find { |movie| movie.platform == "Disney +"} %>
        <h3>Disney +</h3>
       <div class="scrolling-wrapper">
          <% @movies.each do |movie| %>
              <% if movie.platform == "Disney +" %>
                    <a href='<%= movie_path(movie)%>' class="movie-card">
                      <img src="<%= movie.image_url %>" alt="img">
                    </a>
              <% end %>
            <% end %>
      </div>
      <% end %>



      <% if @movies.find { |movie| movie.platform == "Amazon Prime"} %>
        <h3>Amazon Prime</h3>
      <div class="scrolling-wrapper">
          <% @movies.each do |movie| %>
              <% if movie.platform == "Amazon Prime" %>
                    <a href='<%= movie_path(movie)%>' class="movie-card">
                      <img src="<%= movie.image_url %>" alt="img">
                    </a>
              <% end %>
            <% end %>
      </div>
      <% end %>

      <% if @movies.find { |movie| movie.platform == "Apple TV"} %>
        <h3>Apple TV</h3>
      <div class="scrolling-wrapper">
          <% @movies.each do |movie| %>
              <% if movie.platform == "Apple TV" %>
                    <a href='<%= movie_path(movie)%>' class="movie-card">
                      <img src="<%= movie.image_url %>" alt="img">
                    </a>
              <% end %>
            <% end %>
      </div>
      <% end %>


      <% if @movies.find { |movie| movie.platform == "NOW TV"} %>
        <h3>NOW TV</h3>
      <div class="scrolling-wrapper">
          <% @movies.each do |movie| %>
              <% if movie.platform == "NOW TV" %>
                    <a href='<%= movie_path(movie)%>' class="movie-card">
                      <img src="<%= movie.image_url %>" alt="img">
                    </a>
              <% end %>
            <% end %>
      </div>
      <% end %>


      <% if @movies.find { |movie| movie.platform == "ALL 4"} %>
        <h3>ALL 4</h3>
      <div class="scrolling-wrapper">
          <% @movies.each do |movie| %>
              <% if movie.platform == "ALL 4" %>
                    <a href='<%= movie_path(movie)%>' class="movie-card">
                      <img src="<%= movie.image_url %>" alt="img">
                    </a>
              <% end %>
            <% end %>
      </div>
      <% end %>

      <% if @movies.find { |movie| movie.platform == "BBC iPlayer"} %>
        <h3>BBC iPlayer</h3>
       <div class="scrolling-wrapper">
          <% @movies.each do |movie| %>
              <% if movie.platform == "BBC iPlayer" %>
                    <a href='<%= movie_path(movie)%>' class="movie-card">
                      <img src="<%= movie.image_url %>" alt="img">
                    </a>
              <% end %>
            <% end %>
      </div>
      <% end %>

      <% if @movies.find { |movie| movie.platform == "britbox"} %>
        <h3>Britbox</h3>
      <div class="scrolling-wrapper">
        <% @movies.each do |movie| %>
            <% if movie.platform == "britbox" %>
                  <a href='<%= movie_path(movie)%>' class="movie-card">
                    <img src="<%= movie.image_url %>" alt="img">
                  </a>
            <% end %>
          <% end %>
      </div>
      <% end %>

</div>
