<div class="container_show">
  <div class="show_card">
    <div class="image_container">
      <img src="<%= @movie.image_url %>">
    </div>

    <div class="text_container">
      <div class="show_title">
        <h1><%= @movie.name %></h1>
      </div>
      <%= @movie.description %>
      <%= @movie.imdb_rating %>
      <%= @movie.release_date %>
      <%= @movie.genre %>
      <%= @movie.age_rating %>
    </div>
  </div>
</div>
