<div class="container_show">
  <div class="show_card">
    <div class="image_container">
      <img src="<%= @movie.image_url %>">
      <div class="show_title">
        <h3><%= @movie.name %></h3>
      </div>
    </div>

    <div class="text_container">
      <h6><%= @movie.description %></h6>
      <div class="movie_info">
        <div>
          <i class="fa-brands fa-imdb"></i><%= @movie.imdb_rating %>
        </div>
        <div>
          <%= @movie.release_date %>
        </div>
      </div>
    </div>
  </div>
</div>
