<div class="container_show">
  <div class="show_card">
    <div class="image_container">
      <div class="watch_now">
        <div class="circle">
          <%= link_to "", @movie.video_url, target: :_blank, class: "fa-solid fa-play"%>
        </div>
      </div>
      <img src="<%= @movie.image_url %>">
      <div class="show_title">
        <h3><%= @movie.name %></h3>
        <div class="favourites">
          <%= link_to "", movie_favourite_movies_path(@movie), data: { "turbo-method": :post, controller: "favourites", action: "click->favourites#toggle" }, class: !@favourite.nil? ? 'fa-solid fa-heart fa-xl' : 'fa-regular fa-heart fa-xl', style: "text-decoration: none"%>
        </div>
      </div>
    </div>

    <div class="text_container">
      <h6><%= @movie.description %></h6>
      <div class="movie_info">
        <div>
          <i class="fa-brands fa-imdb"></i><%= @movie.imdb_rating %>
        </div>
          <%= @movie.release_date %>
      </div>
    </div>
  </div>
</div>
