<div class="container show_container">
  <div class="card show_card">
    <div class="image_container">
      <%= @movie.image_url %>
      <div class="show_title">
        <h1><%= @movie.name %></h1>
      </div>
    </div>

    <div class="text_container">
      <%= @movie.description %>
      <%= @movie.imdb_rating %>
      <%= @movie.release_date %>
      <%= @movie.genre %>
      <%= @movie.age_rating %>
    </div>
  </div>
</div>
