<div class="container_show">
  <div class="show_card">
    <div class="image_container">
      <div class="watch_now">
        <%= link_to "Watch Now", @movie.video_url, target: :_blank %>
      </div>
      <img src="<%= @movie.image_url %>">
      <div class="show_title">
        <h3><%= @movie.name %></h3>
      </div>
    </div>

    <div class="text_container">
      <h6><%= @movie.description %></h6>
      <div class="movie_info">
        <div>
          <i class="fa-brands fa-imdb"></i><%= @movie.imdb_rating %>
        </div>
        <div>
          <%# <%= link_to "Watch Now", @movie.video_url %>
          <%= link_to "add favourite", movie_favourite_movies_path(@movie), data: { "turbo-method": :post }%>
          <%= @movie.release_date %>
        </div>
      </div>
    </div>
  </div>
</div>
